.sass-cache
npm-debug.log*
*.swp
*.exe
public/*
!public/.gitkeep
!public/css/.gitkeep
!public/js/.gitkeep
!public/images/.gitkeep
!public/uploads/.gitkeep
pkg/
src/github.com/
node_modules/
bin/*
!bin/.gitkeep
log/*
!log/.gitkeep
systemd/
